<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= image_tag @picture.media_url %>
<!-- <video src="https://crapgur3.s3.amazonaws.com/uploads/picture/media/36/MOV_0409.MOV.mov" alt="Mov 0409.mov" controls=""></video> -->
  <%# image_tag @picture.media %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
